<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <script src="https://vk.com/js/api/openapi.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:100,300,400,500,700,900" rel="stylesheet">
</head>

<body>
<div class="container">
    <section class="friends-filter">
        <div class="friends-filter__container">
            <div class="friends-filter__head">
                <div class="friends-filter__head-title">Выберите друзей</div>
                <div class="friends-filter__head-close">
                    <svg id="cross-icon" class="friends-filter__head-close-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 100 100">
                        <path class="icon--line" d="M20,20 L80,80 M20,80 L80,20" stroke-width="16" stroke-linecap="round" stroke-linejoin="round">
                    </svg>
                </div>
            </div>
            <div class="friends-filter__body">
                <div class="friends-filter__search">
                    <div class="friends-filter__search-get">
                        <span class="friends-filter__search-icon-container">
                              <svg class="friends-filter__search-icon" viewBox="0 0 320 70"
                                   data-init="M160,3 L160,3 a27,27 0 0,1 0,54 L160,57 a27,27 0 0,1 0,-54 M197,67 181.21,51.21"
                                   data-mid="M160,3 L160,3 a27,27 0 0,1 0,54 L160,57 a27,27 0 0,1 0,-54 M179.5,49.5 179.5,49.5"
                                   data-active="M27,3 L293,3 a27,27 0 0,1 0,54 L27,57 a27,27 0 0,1 0,-54 M179.5,49.5 179.5,49.5">
                                  <path class="search-svg__path" d="M160,3 L160,3 a27,27 0 0,1 0,54 L160,57 a27,27 0 0,1 0,-54 M197,67 181.21,51.21" />
                              </svg>
                        </span>
                        <input class="friends-filter__input friends-filter__input_get" type="text" placeholder="Начните вводить имя друга">
                    </div>
                    <div class="friends-filter__search-picked">
                        <input class="friends-filter__input friends-filter__input_picked" type="text" placeholder="Название">
                    </div>
                </div>
                <div class="friends-filter__blocks">
                    <div class="friends-filter__col">
                        <div class="friends-filter__list-title">Ваши друзья</div>
                        <div class="friends-filter__block" id="friends-filter__get">
                            {{> './filter-lists.hbs' }}
                        </div>
                    </div>
                    <div class="friends-filter__col">
                        <div class="friends-filter__block" id="friends-filter__picked">
                            <div class="friends-filter__list-title">Друзья в списке</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="friends-filter__footer">
                <div class="friends-filter__footer-btn">Сохранить</div>
            </div>
        </div>
    </section>
    <h1 id="headerInfo"></h1>

    <div id="results">

    </div>
</div>

<script src="./src/index.js"></script>


</body>
</html>
