<div class="popup">
    <div class="popup__container">
        <div class="popup__header">
            <div class="popup__header-icon">
                <svg class="popup__header-icon-svg" viewBox="0 0 48 72">
                    <path d="M24,0 C11.406,0 0,10.209 0,22.806 C0,35.4 10.407,50.436 24,72 C37.593,50.436 48,35.4 48,22.806 C48,10.209 36.597,0 24,0 L24,0 Z M24,33 C19.029,33 15,28.971 15,24 C15,19.029 19.029,15 24,15 C28.971,15 33,19.029 33,24 C33,28.971 28.971,33 24,33 L24,33 Z"></path>
                </svg>
            </div>
            <div class="popup__header-text">{{ name }}</div>
            <div class="popup__header-close">
                <svg class="popup__header-close-svg" aria-hidden="true"  viewBox="0 0 64 64">
                    <path d="M44.1 32l14.5-14.5c1.2-1.2 1.2-3.1 0-4.2l-7.8-7.8c-1.2-1.2-3.1-1.2-4.2 0L32 19.9 17.5 5.5c-1.2-1.2-3.1-1.2-4.2 0l-7.8 7.8c-1.2 1.2-1.2 3.1 0 4.2L19.9 32 5.5 46.5c-1.2 1.2-1.2 3.1 0 4.2l7.8 7.8c1.2 1.2 3.1 1.2 4.2 0L32 44.1l14.5 14.5c1.2 1.2 3.1 1.2 4.2 0l7.8-7.8c1.2-1.2 1.2-3.1 0-4.2L44.1 32z"></path>
                </svg>
            </div>
        </div>
        <div class="popup__body">
            <div class="popup__testimonials">
                {{> "./testimonials.hbs"}}
            </div>
            <div class="popup__form">
                <form action="" class="popup__form-testimonials">
                    <div class="popup__form-title">ВАШ ОТЗЫВ</div>
                    <div class="popup__form-field">
                        <input placeholder="Ваше имя" name="name" type="text" class="popup__form-input">
                    </div>
                    <div class="popup__form-field">
                        <input placeholder="Укажите место" name="place" type="text" class="popup__form-input">
                    </div>
                    <div class="popup__form-field">
                        <textarea placeholder="Поделитесь впечатлениями" name="area" id="" cols="30" rows="10" class="popup__form-textarea"></textarea>
                    </div>
                    <div class="popup__form-footer">
                        <button type="submit" class="popup__form-submit">Добавить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>