{{#each this }}
    <div class="popup__testimonial">
        <div class="popup__testimonial-header">
            <div class="popup__testimonial-name">{{name}}</div>
            <div class="popup__testimonial-description">
                <span class="popup__testimonial-plaÑe">{{place}}</span>
                <span class="popup__testimonial-date">{{dataMessage}}</span>
            </div>
        </div>
        <div class="popup__testimonial-body">{{message}}</div>
    </div>
{{/each}}